{{! Fired on the "commit_comment" event (action=created): a comment left directly on a commit via GitHub's commit view. This is NOT a PR review comment and NOT an issue/PR conversation comment. }}
**@{{comment.user.login}}** [commented on a commit]({{comment.htmlUrl}}):

{{{comment.body}}}
