📝 **New comment** on PR/issue **{{{issue.title}}}** by **{{sender.login}}**
**Repository:** {{repository.fullName}}
**PR/issue:** [#{{issue.number}}]({{issue.htmlUrl}}) - {{issue.title}}
**Comment:** [link]({{comment.htmlUrl}})
**Text:** {{{comment.body}}}
