{{! Fired on the "issues" event (action=reopened): a previously closed issue (never a pull request) was reopened. }}
[**{{{issue.title}}}**]({{issue.htmlUrl}}) {{action}} by **@{{sender.login}}**

{{{issue.body}}}
