{{! Fired on the "issues" event (action=opened): a new issue (never a pull request) was created. }}
[**{{{issue.title}}}**]({{issue.htmlUrl}}) {{action}} by **@{{issue.user.login}}**

{{{issue.body}}}
