{{#pullRequest.merged}}
🚀 **Pull Request Merged!** by **{{ sender.login }}**
{{/pullRequest.merged}}
{{^pullRequest.merged}}
❌ **Pull Request Closed!** by **{{ sender.login }}**
{{/pullRequest.merged}}

📦 **Repository:** {{repository.fullName}}
🔖 **Title:** {{pullRequest.title}}
🔗 **PR Link:** [#{{pullRequest.number}}]({{pullRequest.htmlUrl}})
