📝 **Pull request review {{pullRequest.title}}** was **{{action}}** by **{{review.user.login}}**
**Text:** {{{review.body}}}
**Repository:** {{repository.fullName}}
**PR:** [#{{pullRequest.number}}]({{pullRequest.htmlUrl}}) - {{pullRequest.title}}
