{{#review.body}}**[{{repository.fullName}}]** Pull request review **{{pullRequest.title}}** was {{action}} by **{{review.user.login}}**

{{{review.body}}}

[pull request]({{pullRequest.htmlUrl}})
—{{/review.body}}
