📝 **Pull request review {{pullRequest.title}}** was **commented** by **{{comment.user.login}}**
**Text:** {{{comment.body}}}
**Repository:** {{repository.fullName}}
**PR:** [#{{pullRequest.number}}]({{pullRequest.htmlUrl}}) - {{pullRequest.title}}
**Comment:** [link]({{comment.htmlUrl}})
