{{! Fired on the "pull_request" event (action=opened): a PR was newly opened. SURPRISE: this does NOT fire when a PR is reopened (action=reopened) or marked ready from draft (action=ready_for_review); those actions have no template and are therefore silent. }}
[**{{pullRequest.title}}**]({{pullRequest.htmlUrl}}) (+{{pullRequest.additions}}/-{{pullRequest.deletions}}) by **@{{pullRequest.user.login}}**

{{{pullRequest.body}}}
