📝 **Pull request** was **commented** by **{{comment.user.login}}**
**Repository:** {{repository.fullName}}
**PR:** [#{{pullRequest.number}}]({{pullRequest.htmlUrl}}) - {{pullRequest.title}}
**Comment:** [link]({{comment.htmlUrl}})
**Text:** {{{comment.body}}}
