{{#pullRequest.merged}}
🚀 **Pull Request Merged!** by **{{ sender.login }}**
{{/pullRequest.merged}}
{{^pullRequest.merged}}
❌ **Pull Request Closed!** by **{{ sender.login }}**
{{/pullRequest.merged}}
**Repository:** {{repository.fullName}}
**PR:** [#{{pullRequest.number}}]({{pullRequest.htmlUrl}}) - {{pullRequest.title}}
