🆕 **New Pull Request Opened!** by **{{pullRequest.user.login}}**

📦 **Repository:** {{repository.fullName}}
🔖 **Title:** {{pullRequest.title}}
🔗 **PR Link:** [#{{pullRequest.number}}]({{pullRequest.htmlUrl}})
